button {
  width: 100px;
  height: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  transition: $transition;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.btnAdd {
    background-color: $green;
    &:hover {
      background-color: darken($green, 10%);
    }
  }
}
