.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  @include flex;
  &__container {
    @include flex($direction: column, $justify: space-between, $align: stretch);
    width: 400px;
    height: 250px;
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &-header {
      @include flex($justify: space-between, $align: center);

      margin-bottom: 20px;
      &-title {
        font-size: 20px;
        font-weight: 600;
      }
      &-close {
        cursor: pointer;
        background-color: transparent;
        color: $black;
        display: inline-block;
        width: fit-content;
        padding: 0;
        font-size: 16px;
      }
    }
    &-body {
      margin-bottom: 20px;
      &-text {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &-footer {
      @include flex($justify: flex-end, $align: stretch);
      &-button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: $black;
        color: $white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          background-color: $dark-gray;
        }
      }
    }
  }
  &__form {
    @include flex($direction: column, $justify: stretch, $align: stretch);
    &-group {
      @include flex($justify: stretch, $align: stretch, $direction: column);
      &-label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      &-input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $gray;
        font-size: 16px;
        font-weight: 400;
        &:focus {
          outline: none;
          border-color: $black;
        }
      }
    }
  }
}
