.todo-list {
  @include flex($direction: column);
  list-style: none;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: .8rem;
  width: 60%;
  position: relative;
  margin: 1rem auto;

  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.8rem;
    border-bottom: 1px solid #eee;
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #eee;
    }

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text-completed {
        text-decoration: line-through;
      }

      .text-uncompleted {
        text-decoration: none;
      }

      &__text {
        font-size: 1rem;
        color: #333;
        text-decoration: none;
        padding: 0 1rem;
        cursor: pointer;
        display: inline-block;
        transition: all 0.3s ease;
      }

      &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        padding: 0 1rem;
        column-gap: 5px;

        .btnEdit {
          background-color: $orange;
          border: 1px solid $orange;
          color: $white;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: $white;
            color: $orange;
          }
        }

        .btnDelete {
          background-color: $red;
          border: 1px solid $red;
          color: $white;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: $white;
            color: $red;
          }
        }
      }
    }
  }
}
