.todo-header {
  width: 45%;
  margin-bottom: .8rem;
  margin: 0 auto;

  &__card {
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    padding: 1.3rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);

    &-header h1 {
      font-size: 1rem;
      font-weight: 600;
      color: #333;
      padding: 0 1rem;
      margin-bottom: 1rem;
    }

    &-body {
      width: 100%;
      form {
        @include flex;
        width: 100%;
        padding: 1rem;

        .form-group {
          @include flex($direction: column);
          width: 100%;

          input {
            width: 100%;
            padding: 0.6rem;
            border: 1px solid #ccc;
            outline: none;
            font-size: 1rem;
            font-weight: 400;
            color: #333;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            height: 35px;
          }
        }

        .button-area {
          @include flex;
          column-gap: 1rem;
          height: 35px;
        }
      }
    }
  }
}
