@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: $transition !important;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background: $color-background;

}

a {
  text-decoration: none;
}

.app {
  height: 100%;
  width: 100%;
  @include flex($direction: column, $justify: flex-start, $align: flex-start);
  row-gap: 3rem;

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

body.dark{
  background: $dark;
  color: $light;

  a{
    color: $light;
  }

  .navbar{
    background: $dark;
    color: $light;
  }

}